{% extends "base.html" %} 
{% block title %}Home{% endblock %}
{% block content%}
<h2>
  <b>Linkified will offer you good quality link shortener</b> </h2>
<button
  onclick="window.location='login';" class="btn">
  <strong> Login with Discord </strong>
</button>
<br/>
<br/>
 
<strong>Already Authenticated?
<br/>
  <br/>
<a href="http://linkified.glitch.me/dashboard/">
   CLICK HERE
    </a>
</strong>
<style>
  a{
color: white;
font-size:25px;
    text-decoration:none;
  }
</style>
{% endblock %}
