{% extends "base.html" %}
{% block title %}URLS{% endblock %}
{% block content %}

<table class="users">
  <thead>
    <tr>
      <th class="row-1 row-URL">URL</th>
      <th class="row-2 row-SHORTEN">SHORTEN</th>
      <th class="row-3 row-MANAGE">MANAGE</th>
    </tr>
  </thead>
  <tbody>
    {% for i in l %}
    <tr>
      <td data-label="URL"><a href="{{ i.original_url }}">{{ i.original_url }}</a> </td>
      <br/>
      <td data-label="Shorten"><a href="{{ i.shortened_url }}" class="">{{ i.shortened_url }} </a></td>
      <br/>
      <td data-label="Manage"><a href="{{ '../../api/deleteShorten?id=' + i.id }}" class="btn2">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<style>
    table {
  border: 1px solid black;
  padding: 5px;
  border-collapse: separate;
  border-spacing: 20px 10px;
}

.users {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
/* Column widths are based on these cells */
.row-URL{
  width: 30%;
}
.row-SHORTEN {
  width: 40%;
}
.row-MANAGE {
  width: 20%;
}

.users td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
   border: 1px solid black;
   border-radius: 10px;
}
.users th {
background: #56ccf2;  /* fallback for old browsers */
color: white;
border-radius: 5px;
}
.users td,
.users th {
  text-align: center;
  padding: 5px 10px;
}
.users tr{
  background: transparent;
   border: 10px solid black;
  border-radius: 90px;
}
  a {
  color: black;
  text-decoration: none;
}

</style>
<br/>
<br/>
<a href="../" style="text-decoration:none" class="btn">Return to the dashboard</a>

{% endblock %}