{% extends "base.html" %}
{% block title %}URLs{% endblock %}
{% block content %}



<style>
table.GeneratedTable {
  width: 50%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #ad77ca;
  border-style: inset;
  color: #000000;
  margin:auto;
  border-radius:50px;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: #ad77ca;
  border-style: inset;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: #c69fdf;
}
  a{
    color: #696969;
    text-decoration: none;
  }
  
  
  
  .delete {
	background-color:#fa1212;
	border-radius:8px;
	border:1px solid #d92323;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:1px 18px;
	text-decoration:none;
}
.delete:hover {
	background-color:#ff0000;
}
.delete:active {
	position:relative;
	top:1px;
}
        
</style>
<table class="GeneratedTable">
  <thead>
    <tr>
      <th bgcolor="#667db6">PREVIOUS URL LIST</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for i in l %}
      <td bgcolor="#4286f4"><b>URL</b></td>
    </tr>
     <tr>
    
 <td><a href={{ i.original_url }}>{{ i.original_url }}</a></td>
    </tr>
    <tr>
      <td bgcolor="#74ebd5"><b>Shortened<b></td>
    </tr>
     <tr>
 <td><a href={{ i.shortened_url }}>{{ i.shortened_url }}</a></td>    
    </tr>
    <tr>
      <td bgcolor="#ACB6E5">Manage</td>
      <tr>
<td><a href={{ '../../api/deleteShorten?id=' + i.id }} class="delete">Delete</a></td>

    </tr>
      {% endfor %}
    </tr>
  </tbody>
</table>

<br/>
<br/>
<a href="../" style="text-decoration:none" class="btn">Return to the dashboard</a>

{% endblock %}
